@charset "UTF-8";

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header:before, .modal-header:after {
  content: " ";
  display: table;
}

.modal-header:after {
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.landing {
  position: relative;
  margin-top: 100px;
}

.cta {
  padding: 7px 30px;
  border: none;
  font-weight: 600;
  align-content: center;
}


.overlay {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.98);
  visibility: hidden;
  opacity: 0;
  margin-top: 1200px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.overlay .overlay-slim {
  color: white;
  padding: 10px 30px;
  font-size: 12px;
}

.overlay .overlay-header {
  padding: 0px 0px;
  height: 62px;
  width: 100%;
}


.content {
  font-size: 14px;
  letter-spacing: 1px;
}
.small-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.small-modal .secure-web-modal {
  margin: 50px auto;
  width: 280px;
  background-color: white;
  opacity: 1;
}

.modal-header .modal-close {
  margin-top: -28px;
  margin-right: -10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 40px;
  width: 40px;
  float: right;
  position: relative;
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.is-open {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
}

.small-is-open {
  visibility: visible;
  opacity: 1;
}


@media (min-width: 1000px) {
  .cta {
    font-family: Open Sans;
    color: white !important;
    padding: 7px 30px;
    border: none;
    font-weight: 600;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(246, 246, 246, 0.95);
    visibility: hidden;
    opacity: 0;
    margin-top: 100%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .overlay .overlay-slim {
    background-color: #cc0000;
    color: white;
    padding: 10px 40px;
    font-size: 14px;
  }
  .overlay .overlay-header {
    display: inline-block;
    position: relative;
    background-color: red;
    padding: 20px 20px;
    width: 100%;
    height: 80px;
  }
  .address {
    float: left;
  }
  .secure-website {
    float: right;
  }
  .secure-website i {
    padding-right: 5px;
  }
  .page-title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: white;
    padding: 0px 0px;
    line-height: 0px;
  }
  .header-btn {
    display: inline-block;
    border: 1px solid white;
    padding: 7px 15px;
    width: 100px;
    color: white;
    opacity: 1;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
  }
  .header-btn:hover {
    text-decoration: none;
    opacity: .8;
    color: white;
  }
  
  .content {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .is-open {
    visibility: visible;
    opacity: 1;
    margin-top: 0%;
  }

}

