body {
  margin: 0;
  color: black;
  align-content: center;
  text-align: center;
  background-color: #e6e6f8;
}

img {
  color: white;
}

h1{
  color: #881ccf;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2, h3{
  color: #881ccf;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
  font-size: 0.8em;
  color: white;
  text-align: center;

}

h6 {
  font-size: 1.5em;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-left: 10px;
  padding-right: 10px;

}
label {
  font-size: 0.8em;
  color: white;
  align-content: center;
  padding-top: 5%;
  text-align: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  background-color: #751de8;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;

}

li {
  font-size: 1.5em;
  color: white;
  font-style: bold;

}

footer {
  background: #751de8;
  padding-top: 20px;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: fantasy;
}

.text-conteudo{
  font-size: 1.2em;
  text-align: justify;
}
.modal-content div {
  background-color: #E6E6FA;
}
.conteudo ul:nth-of-type(4) {
  list-style-type: decimal;
}
.modal-content-gameover div {
  background-color: #7001b9;
  padding-top: 10px;
}

a #timer {
  font-size: 1.5em;
  color: black;
  font-family: fantasy;
  font-style: bold;
  text-decoration: none;
}

div #modal-body p {
  font-size: 1.5em;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
}

li #redimensionar-img img {
  width: 65px;
  padding-top: 0.3;
}

div #responsive-capture div {
  display: block;
  max-width: 100%;
  align-items: center;
  align-content: center;

}

div #responsive-imgs img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  align-items: center;
  align-content: center;

}

div #responsive-imgs-mensagens a {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  align-items: center;
  align-content: center;

}

div #responsive-imgs-sorteio img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  align-items: center;
  align-content: center;
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;

}

div #responsive-botton img {
  display: block;
  width: 200px;
  padding-bottom: 10px;
  align-content: center;
  align-items: center;
}

div #responsive-botton-sorteio img {
  display: block;
  margin: 5px auto;
  width: 200px;
  align-content: center;
}

div .minhaDiv {
  font-family: fantasy;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;

  max-width: 1920;
  max-height: 1280;
}

div .solido {
  width: auto;
  display: block;
  margin: 5px auto;
  align-content: center;

}

div .container {
  display: block;
  align-content: center;
}

/*------------EFEITO RAINBOW-----------------*/
.bg-inicial {
  animation: bg-color 7s infinite;
}

@keyframes bg-color {
  0% {
    background-color: #583197;
  }

  20% {
    background-color: #7001b9;
  }

  40% {
    background-color: #7105b9;
  }

  60% {
    background-color: #881ccf;
  }

  80% {
    background-color: #730fb6;
  }

  100% {
    background-color: #580192;
  }
}


/**----NAVBRAR----*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

/*----------bootstrap-navbar-css------------*/

.navbar-brand{
  padding-right: 30px;
}
.navbar-nav{
  align-content: right;
  align-items: right;
}
.navbar-toggler span{
  background-color: #e6e6f8;
  text-decoration: none;
  
}
.nav-item a {
  text-decoration: none;
  color: #fff;
}
.nav-item a:hover {
  text-decoration: none;
  color: #fff;
}
.navbar-mainbg {
  background-color: #7001b9;
  padding: 0px;
}

#navbarNavAltMarkup {
  overflow: hidden;
  position: relative;
  align-items: right;
}

#navbarNavAltMarkup ul {
  padding: 0px;
  margin: 0px;

}

#navbarNavAltMarkup ul li a i {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

#navbarNavAltMarkup li {
  list-style-type: none;
  float: left;
}


#navbarNavAltMarkup>ul>li.active>a {
  color: #7001b9;
  background-color: transparent;
  transition: all 0.7s;

  text-decoration: none;
}


